.zoom-on-hover {
	width:100%;
	height:100%;
	overflow: hidden;
	&:before {
		transform:translate3d(0,0,0);
		transition:transform 1s;
	}
	&:hover:before {
		transform: scale(1.1, 1.1);
		//transform: rotate(1deg);
	}
}