.btn {
	text-transform:uppercase;
	background: none;
	&:hover {
		background: none;
	}
	.cta-box--floral & {
		color: $gray-lighter;
	}
}

.btn-block {
	display: block;
}

.btn-large {
	font-size: 22px;
}