.btn {
	text-transform:uppercase;
	background: none;
	transition:color .35s ease;
	@media (max-width:$screen-sm-max){
		font-size: 14px;
		//text-align: center;
		//border: 1px solid #dadada;
		//display: block;
	}
	&:hover {
		background: none;
		color:$link-hover-color;
	}
	.cta-box--floral & {
		color: $gray-lighter;
	}
}

.btn-block {
	display: block;
	@media (max-width:$screen-md-max) {
		font-size: 14px;
		white-space: inherit;
	}
	@media (max-width:$screen-sm-max) {
		font-size: 12px;
	}
}

.btn-large {
	font-size: 22px;
	@media (max-width:$screen-sm-max) {
		font-size: 14px;
	}
}