::selection {
  background: $brand-primary;
  color:white; /* WebKit/Blink Browsers */
  transition:all 2s;
  padding: 5px;
  display: block;
}
::-moz-selection {
  background: $brand-primary;
  color:white; /* Gecko Browsers */
}

@media (min-width:$screen-md-min) {
	body {
		padding-top:145px;
	}
}

@media (max-width:$screen-sm-max) {
	body {
		padding-top:56px;
	}
}

html.touch, .touch body {
	@media (max-width:$screen-sm-max) {
		overflow-x:hidden;
		width: 100%;
	}
}

.logged-in .banner {
    top: 46px;
}

.logged-in .banner--search {
    top: 46px;
}

@media (min-width:783px) {
	.logged-in .banner {
	    top: 33px;
	}

	.logged-in .banner--search {
	    top: 33px;
	}
}


.main {
	padding: 0 !important;
}

.show-scrolled {
	max-width: 0;
	overflow: hidden;
	display: none;
	.scrolled & {
		max-width: 100%;
		overflow: visible;
		display: block;
	}
}

.green-links {
	a {
		color:$link-hover-color;
		&:hover {
			color:$link-color;
		}
	}
}

.brand-text {
	color: $brand-primary;
	@media (max-width:$screen-sm-max) {
		margin:10px 0 0;
		font-size: 24px;
	}
}

.text-large {
	font-size: 36px;
}

.blue-bg {
	background: #25426c url(../images/body-palm-bg.png) no-repeat center top;
	color: white;
	.community & {
		line-height: 1.7;
		@media (max-width:$screen-xs-max) {
			font-size:14px;
			line-height:1.4;
		}
	}
}

a {
	&:focus {
		outline: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	max-width: 100px;
	margin:0 auto;
}

.background-cover {
	background-size:cover;
}

.row {
	margin-bottom: 30px;
	@media (max-width:$screen-sm-max) {
		margin-bottom: 1em;
		.col-sm-6:first-child {
			margin-bottom: 1em;
		}
	}
}

.inline-block {
	display: inline-block;
	vertical-align: middle;
}

.opaque {
	opacity: 1;
	transition: opacity .35s;
	&.transparent {
		opacity: 0;
	}
}

.line-through {
	position: relative;
	&:before,&:after {
		content: "";
		display: block;
		width: 100px;
		height: 1px;
		background: #dadada;
		position: absolute;
		top:50%;
		left: -100px;
		@media (max-width:$screen-sm-max) {
			width:25px;
			left:-25px;
		}
	}
	&:after {
		left: auto;
		right: -100px;
		@media (max-width:$screen-sm-max) {
			right:-25px;
		}
	}
	&.brand-text {
		display: inline-block;
		padding: 0 31px;
		letter-spacing: 2px;
		@media (max-width:$screen-sm-max) {
			padding: 0 10px;
			max-width: 75%;
		}
	}
}

.fa.fa-angle-right {
	padding-left: 5px;
}

.v-centered {
	top:50%;
	transform:translate(0,-50%);
	position: relative;
}

th {
    color: #273044;
    font-weight: normal;
    text-transform: uppercase;
}

td, th {
    padding-left: 30px !important;
}

th {
	padding-top:10px !important;
	padding-bottom: 10px !important;
    border-bottom: none !important;
}

hr.shipping-header {
	margin-top: -3em;
	border-color:#dadada;
	padding-bottom: 3em;
	@media (max-width:$screen-sm-max) {
		display: none;
	}
}

.btn.shipping-button {
	background-color: #233559;
    color: white;
    border: 1px solid transparent;
    padding: 10px 20px;
    &:hover {
    	background-color: white;
    	border-color: #233559;
    	color: #233559;
    }
}