::selection {
  background: $brand-primary;
  color:white; /* WebKit/Blink Browsers */
  transition:all 2s;
  padding: 5px;
  display: block;
}
::-moz-selection {
  background: $brand-primary;
  color:white; /* Gecko Browsers */
}

.show-scrolled {
	max-width: 0;
	overflow: hidden;
	display: none;
	.scrolled & {
		max-width: 100%;
		overflow: visible;
		display: block;
	}
}

.green-links {
	a {
		color:$link-hover-color;
		&:hover {
			color:$link-color;
		}
	}
}

.brand-text {
	color: $brand-primary;
}

.blue-bg {
	background: #2e3f61 url(../images/body-palm-bg.png) no-repeat center top;
	color: white;
	.community & {
		line-height: 1.7;
	}
}

a {
	&:focus {
		outline: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	max-width: 100px;
	margin:0 auto;
}

.background-cover {
	background-size:cover;
}

.row {
	margin-bottom: 30px;
}

.inline-block {
	display: inline-block;
	vertical-align: middle;
}

.opaque {
	opacity: 1;
	transition: opacity .35s;
	&.transparent {
		opacity: 0;
	}
}

.line-through {
	position: relative;
	&:before,&:after {
		content: "";
		display: block;
		width: 100px;
		height: 1px;
		background: #dadada;
		position: absolute;
		top:50%;
		left: -100px;
	}
	&:after {
		left: auto;
		right: -100px;
	}
	&.brand-text {
		display: inline-block;
		padding: 0 31px;
		letter-spacing: 2px;
	}
}

.v-centered {
	top:50%;
	transform:translate(0,-50%);
	position: relative;
}