.green-links {
	a {
		color:$link-hover-color;
		&:hover {
			color:$link-color;
		}
	}
}

.blue-bg {
	background: #2e3f61 url(../images/body-palm-bg.png) no-repeat center top;
	color: white;
	.community & {
		line-height: 1.7;
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	max-width: 100px;
	margin:0 auto;
}

.background-cover {
	background-size:cover;
}

.row {
	margin-bottom: 30px;
}

.inline-block {
	display: inline-block;
	vertical-align: middle;
}

.line-through {
	position: relative;
	&:before,&:after {
		content: "";
		display: block;
		width: 100px;
		height: 1px;
		background: #dadada;
		position: absolute;
		top:50%;
		left: -100px;
	}
	&:after {
		left: auto;
		right: -100px;
	}
}

.v-centered {
	top:50%;
	transform:translate(0,-50%);
	position: relative;
}