body {
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
	text-transform:uppercase;
	font-weight: 300;
	//color:$brand-primary;
}

blockquote {
	border: none;
	margin-left: 0;
	font-size: 22px;
	color: $brand-primary;
	padding: 0;
}