// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #223558;
$link-color:			#273044;
$link-hover-color:		#3f8878;
$link-hover-decoration: none !default;
$gray-base:				#222222 !default;
$gray-lighter:			#bababa !default;

$font-size-base:          16px !default;
$font-family-sans-serif:	'Roboto', sans-serif !default;
$headings-font-family: 'Roboto Slab', serif !default;
$headings-font-weight:    100 !default;

$border-radius-base: 0 !default;
$btn-default-color: #555 !default;
$btn-default-border: transparent !default;

$hr-border: $gray-base !default;