.club-cta {
	border-top: 1px solid #dadada;
	img {
		margin:0 auto;
		display: block;
	}
}

.club-cta--copy {
	h3 {
		color: $brand-primary;
		margin-top: 80px;
	}
	hr {
		max-width: 6px;
		margin-left: 0;
	}
	a {
		padding-left: 0;
	}
}