.lookbook-cta {
	background:url(../images/lookbook-bg-1600.jpg) no-repeat center center;
	background-size:cover;
	height: calc(100vh - 44px);
	color: white;
	display: block;
	.btn, .brand-text {
		color: white;
	}
}

.lookbook--cta-category {
	color: white;
	display: block;
	margin-top: 14px;
}

.lookbook--cta-content hr {
    border-color: white;
    margin: 14px auto;
}

.lookbook--cta-title {
    margin: 5px 0;
}

.lookbook--cta-btn {
	@extend .home--slider-cta;
	background-color:$link-color;
	color: white;
	transition: all .35s;
	border:1px solid transparent;
	margin-top: 20px;
	padding-top:10px;
	padding-bottom:10px;
	&:hover {
		color: white;
		border-color:white;
		background-color:#233559;
	}
}