a.cta-blog--post {
	color: $gray-base;
	transition: all .35s ease;
	&:hover {
		color: black;
	}
}

.cta-blog--post-image {
	margin: 0 30px 30px 0;
	float: left;
}

.cta-blog--post-title {
	font-family: $font-family-sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: $brand-primary;
}

.cta-blog--post-content {
	.btn {
		padding-left: 0;
		border: none;
		margin-left: -1px;
    	margin-top: 3px;
	}
	hr {
		max-width: 6px;
		margin-left: 0;
	}
}

.home--slider {
	margin-bottom: 0;
	.slick-dots {
		bottom: 20px;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
		}
	}
	.slick-dots li button:before {
		font-size: 34px;
		color: transparent;
		border: 1px solid white;
		border-radius: 50%;
		height: 11px;
		width: 11px;
	}
}

.slick-track {
	height: 700px;
}

.home--slider-panel {
	position: relative;
}

.home--slider-caption {
	text-align: center;
	position: absolute;
	bottom: 120px;
	left: 0;
	width: 100%;
	color: white;
	h1 {
		font-size: 36px;
		font-weight: 100;
		margin: 0 0 30px 0;
	}
}

.home--slider-cta {
	margin: 0;
	padding: 20px 40px;
	background:url(../images/slider-palm-texture.png) no-repeat center center;
	background-size: cover;
	text-transform: uppercase;
}