

.mobile-header {
	position:absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	padding-top: 8px;
	@media (min-width:$screen-md-min) {
		display: none;
	}
	.mobile-nav-trigger {
		width:20px;
		height: 20px;
		background:url(../images/mobile-nav-trigger-open.png) no-repeat;
		background-size:contain;
		display: block;
		padding: 10px 9px !important;
		margin-left: 10px;
		&.close {
			background-image:url(../images/mobile-nav-trigger-close.png);
		}
	}
	.brand {
		display: block;
		margin: 5px 0 0;
	}
	.banner-nav--top-menu {
		margin: 0;
		padding: 0;
	}
	.banner-nav--top-bag {
		margin: 0;
	}
	.row {
		margin-bottom:0;
	}
	.nav {
		text-align: center;
		> li {
			display: block;
			> a {
				font-family: $headings-font-family;
				color:#223559;
				font-weight: 300;
				border-bottom: 1px solid #dadada;
			}
			&.back-to-top a {
				font-size: 12px;
				font-family: $font-family-sans-serif;
				color: #555;
			}
			&.secondary-nav-item {
				a {
					border: none;
					font-family: $font-family-sans-serif;
					color: #555;
					font-size: 12px;
					padding: 15px 0 0;
				}
			}
		}
	}
	.secondary-nav {
		li {
			a {
				padding: 13px 10px;
			}
		}
	}
	.mobile-navigation {
		[class*='col'] {
			padding-left: 0;
			padding-right: 0;
		}
		h4 {
			text-align: center;
			border-bottom: 1px solid #dadada;
			font-family: $headings-font-family;
			color:#223559;
			margin: 0;
			padding: 1em 0;
		}
		.sub-menu {
			position: relative;
		}
	}
	.menu-main-navigation-submenu-image {
		display: none;
	}
	.menu-main-navigation--primary, .menu-main-navigation--secondary {
		display: block;
		width:auto;
		text-align: center;
		padding: 0;
		max-height:0;
		overflow: hidden;
		transition: all .35s;
		&.opened {
			max-height: 9999px;
			padding: 10px 0;
		} 
	}
	.dropdown-open .sub-menu {
		padding: 0;
	}
	.sub-menu {
		transition:opacity .25s ease;
		transition:max-height .25s ease;
	}
}

.mobile-navigation {
	overflow: hidden;
	max-height: 0;
	transition: all .35s;
	&.open {
		max-height: 9999px;
		transition:all .35s;
	}
}

.menu-main-navigation-submenu-title {
	.fa {
		@media (min-width:$screen-md-min) {
			display: none;
		}
	}
}

.nav>li.menu-mobile-navigation-icons {
	text-align: center;
	padding-top: 10px;
	a {
		display: inline-block;
		margin: 10px;
		color: white;
		transition:color .35s;
		background-color: #233559;
		border: none;
		border-radius: 4px;
		padding: 0;
		height: 30px;
		width:30px;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		&:hover {
			background-color: #bababa;
		}
	}
	.fa {
		transform:rotate(0deg);
		margin: 0;
	}
}