

.mobile-header {
	position:fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	padding-top: 8px;
	//padding-bottom: 12px;
	border-bottom:1px solid #dadada;
	.nav-open & {
		position: absolute;
		padding-bottom: 12px;
	}
	@media (min-width:$screen-md-min) {
		display: none;
	}
	.mobile-nav-trigger {
		width:20px;
		height: 20px;
		background:url(../images/mobile-nav-trigger-open.png) no-repeat;
		background-size:contain;
		display: block;
		padding: 10px 9px !important;
		margin-left: 10px;
		&.close {
			background-image:url(../images/mobile-nav-trigger-close.png);
		}
	}
	.brand {
		display: block;
		margin: 5px 0 0;
		//position: relative;
    	//top: 5px;
	}
	.banner-nav--top-menu {
		margin: 0;
		padding: 0;
	}
	.banner-nav--top-bag {
		margin: 0;
		line-height: 1;
	}
	.row {
		margin-bottom:0;
	}
	.nav {
		text-align: center;
		> li {
			display: block;
			> a {
				font-family: $headings-font-family;
				color:#223559;
				font-weight: 300;
				border-bottom: 1px solid #dadada;
			}
			&.back-to-top a {
				font-size: 12px;
				font-family: $font-family-sans-serif;
				color: #555;
			}
			&.secondary-nav-item {
				a {
					border: none;
					font-family: $font-family-sans-serif;
					color: #555;
					font-size: 12px !important;
					padding: 15px 0 0 !important;
				}
			}
		}
	}
	.secondary-nav {
		li {
			vertical-align: middle;
			a {
				padding: 13px 10px;
				line-height: 1;
				.fa {
					line-height: 1;
				}
			}
		}
	}
	.mobile-navigation {
		[class*='col'] {
			padding-left: 0;
			padding-right: 0;
		}
		h4 {
			text-align: center;
			border-bottom: 1px solid #dadada;
			font-family: $headings-font-family;
			color:#223559;
			margin: 0;
			padding: 1em 0;
			.fa {
				&.spin {
					transform:rotate(-180deg);
					transition: all .35s;
				}
			}
		}
		.sub-menu {
			position: relative;
		}
	}
	.menu-main-navigation-submenu-image {
		display: none;
	}
	.menu-main-navigation--primary, .menu-main-navigation--secondary {
		display: block;
		width:auto;
		text-align: center;
		padding: 0;
		max-height:0;
		overflow: hidden;
		transition: all .35s;
		&.opened {
			max-height: 9999px;
			padding: 10px 0;
		} 
	}
	.dropdown-open .sub-menu {
		padding: 0;
	}
	.sub-menu {
		transition:opacity .25s ease;
		transition:max-height .25s ease;
		opacity: 1;
		max-height: 999px;
		z-index: 999;
	}
}

.mobile-navigation {
	overflow: hidden;
	max-height: 0;
	transition: all .35s;
	&.open {
		max-height: 9999px;
		transition:all .35s;
	}
}

.menu-main-navigation-submenu-title {
	.fa {
		@media (min-width:$screen-md-min) {
			display: none;
		}
	}
}

.nav>li.menu-mobile-navigation-icons {
	text-align: center;
	padding-top: 10px;
	a {
		display: inline-block;
		margin: 10px;
		color: white;
		transition:color .35s;
		background-color: #233559;
		border: none;
		border-radius: 4px;
		padding: 0;
		height: 30px;
		width:30px;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		&:hover {
			background-color: #bababa;
		}
	}
	.fa {
		transform:rotate(0deg);
		margin: 0;
	}
}

.mobile-search {
	border-bottom: 1px solid #dadada;
}

.scrolled:not(.nav-open) .nav>li.menu-mobile-navigation-icons a,
.nav>li.menu-mobile-navigation-icons a {
	padding: 0 !important;
    font-size: 20px;
    line-height: 30px !important;
}

.scrolled:not(.nav-open) .mobile-header .dropdown-open .sub-menu {
	top: 0;
	padding-top: 0;
}

.mobile-header .nav>li:first-child>a {
	display: none;
}

.scrolled:not(.nav-open) .mobile-header .nav>li>a,
.mobile-header .nav>li>a {
	padding: 1em 0;
	line-height: 1;
	font-size: 18px;
}

.scrolled:not(.nav-open) .nav>li.menu-mobile-navigation-icons .fa {
	top: 0;
}

.mobile-header .nav>li.back-to-top {
	display: none;
}

.mobile-header .secondary-nav li a.mobile-nav-trigger {
    top: 2px;
    position: relative;
}

.mobile-header .menu-main-navigation--primary, .mobile-header .menu-main-navigation--secondary {
	padding-bottom: 0 !important;
}