.nav {
	text-transform:uppercase;
	> li {
		display: inline-block;
		position: static;
		.fa {
			transform:rotate(180deg);
			transition:transform .35s ease;
			margin-left: 5px;
			.scrolled & {
				position: relative;
				top: 2px;
			}
		}
		&.dropdown-open {
			> a {
				color:$link-hover-color;
				.fa {
					transform:rotate(0deg);
					transform:translate(0,-2px);
					transition:transform .35s ease;
				}
			}
		}
		> a {
			.scrolled & {
				padding: 8px 15px 3px 15px;
				font-size: 17px;
			}
		}
	}
	a {
		font-size: 18px;
		transition:color .35s ease;
	}
	&#menu-main-navigation {
		text-align: right;
		margin-right: -20px;
		.scrolled & {
			margin-right:0;
			text-align: left;
			display: inline-block;
			vertical-align: top;
		}
		@media (max-width:$screen-sm-max) {
			display: none;
		}
	}
}

.nav>li>a:focus, .nav>li>a:hover {
	background: none;
}

.sub-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width:100%;
	position: absolute;
	z-index: -1;
	left: 0;
	//border: 1px solid $gray-lighter;
	background: white;
	//transform:translate(0,-200%);
	opacity:0;
	transition:opacity 1s ease;
	transition:max-height 2s ease;
	max-height: 0;
	overflow: hidden;
	text-align: left;
	.dropdown-open & {
		//transform:translate(0,0);
		opacity:1;
		z-index: 20;
		max-height:9999px;
		padding: 22px 0;
		.scrolled & {
			padding-top: 10px;
			top: 44px;
		}
	}
	a {
		font-size: 16px;
		display: block;
	}
	h4 {
		font-size: 18px;
		color: $brand-primary;
		margin: 23px 0 16px 0;
		font-weight: 300;
	}
}

#wrapper {
	min-height:1000px;
	&:after {
		opacity:0;
		transition:opacity .35s ease;
		background:rgba($brand-primary, .6);
		content:"";
		width: 100%;
		height: 100%;
		position:absolute;
		left:0;
		top:0;
		z-index:-1;
		display: block;
	}
	.nav-open & {
		position: relative;
		&:after {
			z-index:10;
			opacity:1;
		}
	}
}

.secondary-nav--container {
	border-bottom: 1px solid $gray-lighter;
	margin-bottom: 40px;
	text-align: center;

	max-height: 44px;
	overflow: hidden;
	transition:margin .35s ease;
	.scrolled & {
		margin-bottom:0;
	}
	.content-info & {
		margin-bottom:27px;
		border-top: 1px solid $gray-lighter;
	}
}

.secondary-nav {
	li {
		list-style-type:none;
		display: inline-block;
		vertical-align: middle;
		margin-right:-4px;
		.banner & {
			.scrolled & {
				vertical-align: top;
			}
		}
		a {
			display: block;
			color: #555555;
			border-left: 1px solid #dadada;
			text-transform: uppercase;
			padding: 13px 20px;
			font-size: 12px;
			transition:all .35s ease;
			.content-info & {
				line-height: 1.5;
			}
			&:hover, &.active {
				color:$link-hover-color;
			}
			&.banner-nav--top-fav-icon {
				.fa {
					transition:color .35s ease;
					font-size: 18px;
				}
				&:hover {
					.fa {
						color: $link-hover-color;
					}
				}
			}
			.banner & {
				.scrolled & {
					padding: 13px 20px 10px;
					font-size: 12px;
				}
			}
		}
		&:first-child {
			a {
				.banner & {
					.scrolled & {
						padding-bottom: 11px;
					}
				}
			}
		}
		&:nth-child(2) {
			a {
				.banner & {
					.scrolled & {
						float:left;
						padding-top:12px;
						padding-bottom:9px;
					}
				}
			}
		}
	}
	li {
		&:last-child {
			a {
				border-right:1px solid #dadada;
				.fa {
					.banner & {
						.scrolled & {
							font-size: 19px;
						}
					}
				}
			}
		}
	}
}

.menu-main-navigation--secondary,
.menu-main-navigation--primary {
	display: inline-block;
	width:49%;
	vertical-align: top;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.menu-main-navigation--primary-nav {
	li {
		a {
			padding: 1px 0;
			color:#555;
			line-height: 1.3;
			&:hover {
				color:$link-hover-color;
			}
		}
		ul {
			padding: 1px 0 5px 10px;
			li a {
				text-transform: none;
				padding: 3px 0 2px;
				line-height: 1;
				font-size: 14px;
			}
		}
	}
}

.menu-main-navigation--secondary-nav {
	li {
		a {
			font-size: 13px;
			padding: 5px 0 4px;
			color:#888;
			&:hover {
				color:$link-hover-color;
			}
		}
	}
}

.menu-main-navigation-submenu-image {
	overflow: hidden;
	height: 200px;
	img {
		opacity: 1;
		transition:opacity .35s;
		.no-touch & {
			&:hover {
				opacity: .5;
			}
		}
	}
}