.page-header--full-width {
	height: 400px;
	width:100%;
	color: white;
	text-align: center;
	margin: 0 0 50px;
	background-size:cover;
	background-position:center center;
	background-repeat: no-repeat;
	.v-centered {
		margin: 0;
		font-size: 36px;
		color: $brand-primary;
	}
	@media (max-width:$screen-xs-max) {
		height: 200px;
		//background-size: contain;
		margin: 0 0 25px;
	}
}

.page-contact-bg {
	background-image:url(../images/contact-page-header-bg.jpg);
}

.page-legacy-bg {
	background-image:url(../images/legacy-page-header-bg.jpg);
}

.page-header {
	h1 {
		.blue-bg & {
			color: white;
		}
	}
	.blue-bg & {
		margin-bottom: 45px !important;
	}
}