.page-header--full-width {
	height: 400px;
	width:100%;
	color: white;
	text-align: center;
	margin: 0 0 50px;
	background-size:cover;
	background-position:center center;
	background-repeat: no-repeat;
	.v-centered {
		margin: 0;
		font-size: 36px;
		color: $brand-primary;
	}
	@media (max-width:$screen-xs-max) {
		height: 200px;
		//background-size: contain;
		margin: 0 0 25px;
	}
}

.page-contact-bg {
	background-image:url(../images/contact-page-header-bg.jpg);
	@media (max-width:$screen-sm-max) {
		background-position:center right;
	}
}

.page-legacy-bg {
	background-image:url(../images/legacy-page-header-bg.jpg);
}

.page-header {
	h1 {
		.blue-bg & {
			color: white;
		}
	}
	.blue-bg & {
		margin-bottom: 45px !important;
	}
}

@media (max-width:$screen-sm-max) {
	.page-header--full-width .v-centered {
	    top: auto;
	    transform: translate(0,0);
	    clear: both;
	    padding: 210px 0 0;
	    border-bottom: 1px solid #dadada;
	    padding-bottom: 10px;
	}

	.page-header--full-width {
	    margin-bottom: 90px;
	}

	.page-header--full-width.page-legacy-bg {
		margin-bottom: 45px;
	}
}