.social-stripe {
	background:#304163 url(../images/home-social-stripe-bg.jpg) no-repeat center top;
	height: 140px;
	text-align: center;
	clear: both;
	@media (max-width:$screen-sm-max) {
		height: auto;
		padding: 1em 0 .5em;
		.v-centered {
			top: 0;
			transform: translate(0,0);
		}
	}
	a {
		display: inline-block;
		color: white;
		text-transform: uppercase;
		font-size: 22px;
		letter-spacing: 2px;
		font-weight: 300;
		margin-right: 50px;
		transition: color .35s;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: $link-hover-color;
		}
		@media (max-width:$screen-sm-max) {
			margin: 0 10px 10px 0;
			font-size: 15px;
		}
	}
}