.post.type-post {
    margin: 3.5em 0 0;
    .entry-title {
    	margin-bottom: 1em;
    }
}

.post.type-post .entry-meta {
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 2.4em;
}

.blog-post--container {
	.col-sm-4 {
		@media (min-width:$screen-sm-min){
			&:nth-child(3n+4) {
				clear: left;
			}
			.cta-blog--post-image {
				//height: 360px;
				//width:auto;
			}
		}
	}
	&.alm-preloaded {
		margin-bottom: 0;
	}
}

.blog-post--categories {
	margin-top: 10px;
	@media (max-width:$screen-xs-max) {
		display: none;
	}
}

.blog-post--featured {
	.cta-blog--post-image {
		margin-bottom: 22px;
	}
	.cta-blog--post-title {
		margin: 5px 0 8px;
		font-size: 26px;
		font-weight: 400;
		line-height: 1.2;
	}
	.category-name {
		margin-top: 9px;
	}
	@media (max-width:$screen-xs-max) {
		.cta-blog--post-title {
			font-size: 16px;
			text-transform: none;
			letter-spacing: 0;
		}
		margin-bottom: 3em;
	}
}

.blog-post--container {
	margin-top: 71px;
	.entry-meta {
		margin-bottom:15px;
	}
	.cta-blog--post-image {
		margin-bottom:18px;
		min-height: 300px;
		@media (max-width:$screen-md-max) {
			min-height:1px;
		}
	}
	.cta-blog--post-title {
		font-size: 18px;
		margin: 0 0 10px;
		font-weight: 400;
	}
	@media (max-width:$screen-xs-max) {
		.col-sm-4 {
			margin-bottom: 20px !important;
		}
		.cta-blog--post-image {
		// 	float:left;
		// 	max-width:25%;
		// 	height: auto;
		// 	min-height:1px;
		// 	margin: 0 5px 5px 0;
		min-height: 10px;
		}
	}
}

.cta-blog--post-content {
	.btn {
		color: #555;
		font-size: 12px;
	}
}

.blog-post--sidebar {
	.cta-box--floral {
	    height: 171px;
	    margin-bottom: 9px;
	    float: left;
	    width: 100%;
	    @media (max-width:$screen-xs-max) {
	    	height: 100px;
	    }
	}
	.cta-box--content {
		top: 50%;
		transform: translate(0,-50%);
		position: relative;
		h4 {
			font-size: 24px;
			margin-bottom: 27px;
			margin-top: -5px;
			@media (max-width:$screen-xs-max) {
				font-size: 18px;
				margin: 0 0 10px 0;
			}
		}
	}
	.footer-signup--input {
		background: transparent;
		color: white;
		margin-bottom: 10px;
		@media (max-width:$screen-xs-max) {
			width:76%;
			font-size: 10px;
		}
		&:active,
		&:focus {
			border-color:white;
		}
	}
	.footer-signup--button {
		@media (max-width:$screen-xs-max) {
			width: 23%;
			font-size: 10px;
		}
	}
	form {
		position: relative;
		z-index: 1;
		@media (max-width:$screen-xs-max) {
			width:94%;
			margin:0 auto;
		}
	}
}

.blog-post--container .col-sm-4 {
    margin-bottom: 76px;
    //opacity:0;
    transition:opacity .35s;
    &.shown {
    //	opacity:1;
    }
}

.alm-listing,
.alm-reveal {
	clear: both;
}

.alm-btn-wrap {
	text-align: center;
	clear: both;
}

#load-more {
	@extend .btn;
	&:focus,
	&:active {
		outline:none;
	}
}

.category-divider {
	margin-bottom: 30px;
	border-color: $gray-lighter;
	max-width: 100px;
}