.content-info {
	clear: both;
}

.footer-story {
	height: 467px;
	width: 100%;
	float: left;
	background:url(../images/footer-legacy-bg.jpg) no-repeat center center;
	background-size:cover;
	position: relative;
	@media (max-width:$screen-sm-max) {
		background: none;
		height: auto;
		.footer-story--cta {
			display: none;
		}
	}
}

.footer-story--cta {
	max-width: 360px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform:translate(0,-50%);
	z-index: 20;
	.btn {
		transition:color .35s ease;
	}
	&:hover {
		.btn {
			color: white;
		}
	}
	.cta-box--content {
		padding: 20px;
		h4 {
			font-size: 24px;
		}
		hr {
			margin-bottom: 15px;
		}
	}
}

.copyright-container {
	.footer-story & {
		height: 100%;
		width: 100%;
		position:absolute;
		left: 0;
		top: 0;
		@media (max-width:$screen-sm-max) {
			position: relative;
		}
		.container {
			height: 100%;
			position: relative;
		}
		.copyright {
			position: absolute;
			left:0;
			bottom:1em;
			@media (max-width:$screen-sm-max) {
				position: relative;
			}
		}
	}
}
.copyright {
	font-size:$font-size-small;
	letter-spacing: 1px;
	margin: 27px 0 0;
	.copyright-no-story & {
		margin: 20px 0 13px;
	}
	@media (max-width:$screen-sm-max) {
		font-size: 10px;
		text-align: center;
		letter-spacing: 0;
		margin: 10px 0;
	}
}

.footer-navigation--container {
	border-bottom: 1px solid $gray-lighter;
	max-height: 44px;
	overflow: hidden;
	margin-bottom: 40px;
}

.footer-signup {
	text-align: center;
	padding: 32px 0 44px;
    border-bottom: 1px solid $gray-lighter;
    @media (max-width:$screen-sm-max) {
		border-bottom: none;
	}
    form {
    	@media (max-width:$screen-sm-max) {
    		display: block;
    	}
    }
}

.footer-signup--input {
	border: none;
	border-bottom: 1px solid #888888;
	padding: 3px;
	font-size: 14px;
	text-align:center;
	width:300px;
	height: 30px;
	border-radius:0 0 0;
	box-shadow: 0 0 0;
	&:active,&:focus {
		outline:none;
		box-shadow:0 0 0;
		border-color:black;
	}
	@media (max-width:$screen-sm-max) {
		border: 1px solid #dadada;
		font-style: normal;
		float: left;
		width: 67%;
		-webkit-appearance:none;
	}
}

.footer-signup--button {
    border: none;
    background: none;
    text-transform: uppercase;
    transition:all .35s ease;
    height: 30px;
    @media (max-width:$screen-sm-max) {
    	display: block;
    	text-align: center;
    	border: 1px solid #dadada;
    	border-left: none;
    	width: 32%;
    	font-size: 11px;
    }
	&:hover {
		color:$link-hover-color;
	}
}

.footer-signup--instruction {
	font-family:$font-family-sans-serif;
	color: $brand-primary;
	margin-right:20px;
	@media (max-width:$screen-sm-max) {
		display: none;
	}
}

.menu-footer-navigation-container {
	@media (max-width:$screen-sm-max) {
		margin: 1em 0;
	}
}

#menu-footer-navigation {
	@media (max-width:$screen-sm-max) {
		margin: 0;
		padding: 0;
		li {
			display: block;
			margin: 0 0 5px 0;
		}
	}
}