.banner {
	.row {
		margin-bottom: 15px;
	}
}

.banner-nav--top {
	border-bottom: 1px solid $gray-lighter;
	max-height: 44px;
	overflow: hidden;
	margin-bottom: 40px;
	.row {
		margin-bottom:0;
	}
}

.banner-nav--top-quote {
	float: left;
	font-size: 14px;
	padding: 13px 0 10px;
	strong {
		color: $brand-primary;
	}
}

.banner-nav--top-menu {
	float: right;
	a {
		vertical-align: middle;
		display: inline-block;
		color: #555555;
		border-left: 1px solid $gray-lighter;
		text-transform: uppercase;
		padding: 13px 13px 10px 13px;
		font-size: 14px;
		&:hover {
			color: black;
		}
	}
}