.banner {
	.row {
		margin-bottom: 15px;
	}
}

.banner-nav--top {
	.row {
		margin-bottom:0;
	}
}

.banner-nav--top-quote {
	float: left;
	font-size: 14px;
	padding: 13px 0 10px;
	strong {
		color: $brand-primary;
	}
}

.banner-nav--top-menu {
	float: right;
}