.product-category--sidebar {
	padding-top: 53px;
	hr {
		margin: 14px 0;
		max-width: 100%;
		border-color: #dadada;
	}
	h3 {
		font-size: 33px;
		margin-top: 16px;
		color: $brand-primary;
	}
}

.product-category--breadcrumbs {
	text-transform: uppercase;
	color: #555;
	font-size: 14px;
	letter-spacing: 1px;
}

.product-category--sidebar-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
	li a {
		color: #555;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 1px;
		padding-bottom: 12px;
		display: block;
		transition:color .35s;
		&:hover {
			color:$link-hover-color;
		}
	}
}

.product-category--collapsible {
    margin-top: 39px;
    ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
    }
    label {
    	text-transform: uppercase;
	    font-weight: 400;
	    font-size: 16px;
	    letter-spacing: 1px;
	    display: block;
	    color: $brand-primary;
    }
    .filter {
    	margin-bottom: 15px;
    	padding-bottom: 15px;
    	border-bottom: 1px solid #dadada;
    }
}

.product-category--content {
	margin-top: 60px;
}

.product-category--content--intro {
	margin-bottom: 50px;
	padding: 40px 60px 34px;
	text-align: center;
	background-color: $brand-primary;
	color: white;
	h3 {
		font-size: 24px;
   		margin: 0;
	}
	hr {
		border-color: #dadada;
		margin: 21px auto 18px auto;
	}
}

.product-category--products .product {
    text-align: center;
    display: block;
    margin-bottom: 55px;
    h4 {
		font-family: $font-family-sans-serif;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 1px;
		margin: 14px 0;
		color:$brand-primary;
    }
    &:hover {
    	h4 {
    		color: $link-hover-color;
    	}
    }
    hr {
    	max-width: 10px;
    	border-color: #dadada;
    	margin: 10px auto;
    }
	#variant-inventory {
		float:none;
		margin-top: 10px;
		&:before,
		&:after {
			display: none;
		}
		> * {
			display: inline-block;
			margin: 0 6px;
		}
	}
}

.product-category--products-title {
	font-size: 32px;
	color: $brand-primary;
	overflow: hidden;
	text-align: center;
	.line-through {
		display: inline-block;
		padding: 0 45px;
	}

}